.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    ;
  }
  
  .title {
    font-size: 3.5rem;
    color: #333; 
    margin-bottom: 20px; 
    text-shadow: rgb(255, 255, 255) 0px 0px 5px; 
  }
  
  .text {
    font-size: 1.5rem;
    color: #000000; 
    line-height: 1.5; 
    max-width: 600px; 
    margin-bottom: 60px; 
    text-shadow: 1px 3px 9px rgb(255, 255, 255); 
    
  }
  