@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');




.backgroundCustom {
    background-image: url('../../../Img/Misuki-food-sushi.webp');
    background-position: center center;
    background-size: cover;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
}



.buttonContainer {
    position: absolute; 
    top: 80%; 
    left: 73.3%; 
    transform: translate(-50%, -50%); 
}


.button {
    background-color: #e6bf9a62;
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 30px; 
    cursor: pointer;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif; 
    font-size: 35px;
   box-shadow: 3px 3px 8px #e6bf9abd;
}

.button:hover {
    background-color: rgba(167, 115, 89, 0.295);
}
