
.container {
  
  text-align: center;
  background-color: rgba(88, 87, 87, 0.726) ;
  font-family: 'Space Grotesk',Arial, Helvetica, sans-serif; 
  color: #e6bf9a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.699); 
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto;
  width: 80%; 
  max-width: 400px; 
}
.container h1 {
  
  margin-bottom: 20px;
  font-size: 30px;
  color: #ece6dd;
}

form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h2 {
  
  margin-bottom: 20px;
}

form div {
  
  margin-bottom: 20px;
  width: 100%;
}

form label {
  
  display: block;
  margin-bottom: 5px;
}

form input {
  
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #0505059a;
}

form input:focus {
  
  outline: none;
  border-color:#d88405;
}

form .error {
  
  color:#22d8b1;
  margin-top: 5px;
}

form button {
  
  background-color: #df9f64;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  
  background-color:#e6bf9a ;
}

form p {
  
  margin-top: 20px;
  color: #fffdfd;
  font-size: 20px;
}

form p a {
  
  color: #d8a722;
  text-decoration: none;
  transition: text-decoration 0.2s;
  
}

form p a:hover {
  
  text-decoration: underline;
  color:#22d8b1;
  text-decoration: none;
}
